<nav class="navbar navbar-expand-lg {{classList}}">
  <div class="{{container}}">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/index.html">
      Island Boys
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" data-scroll='{"offset": 0}' href="#home">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-scroll='{"offset": 0}' href="#whatIs">
            What Is Island Boys?
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-scroll='{"offset": 0}' href="#nft">
            NFT Launch
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-scroll='{"offset": 0}' href="#shoutouts">
            Shoutouts
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-scroll='{"offset": 0}' href="#faq">
            How To Buy
          </a>
        </li>
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-{{button}} lift ms-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
        Buy on PancakeSwap
      </a>

    </div>

  </div>
</nav>
